{% extends 'base.html' %}

{% block title %}
Create User
{% endblock %}

{% block content %}

<div class="container">
  <h1 class="text-center my-5">Login a user</h1>
  <form method="POST" class="mx-auto">
    {{ form.hidden_tag() }}

    {% for field in form.errors %}
      <div class="alert alert-danger">{{ field }}:
        <ul>
          {% for error in form.errors[field] %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}

    <div class="container py-sm-3 mb-sm-4 justify-content-center">
      <div class="mb-3 row">
        <label for="username" class="col-2 col-sm-3 col-form-label text-end label-white">Username</label>
        <div class="col-sm-6">
          <input type="text" name="username" id="username" class="form-control-lg">
        </div>
      </div>

      <div class="mb-3 row">
        <label for="password" class="col-2 col-sm-3 col-form-label text-end label-white">Password</label>
        <div class="col-sm-6">
          <input type="password" name="password" id="password" class="form-control-lg">
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-9 offset-sm-3">
          <button class="btn btn-secondary ">Login!</button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
