{% extends 'base.html' %}

{% block title %}
 SIGN UP
{% endblock %}

{% block content %}

<div class="container">
  <h1 class="text-center my-5">Signup</h1>
  

  <form method="POST" class="mx-auto">
    {{ form.hidden_tag() }}
    <div class="container">
    {% for field in form.errors %}
      <div class="alert alert-danger">{{ field }}:
        <ul>
          {% for error in form.errors[field] %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
    </div>


    <div class="container col py-sm-3 mb-sm-4 ">
  
      <div class="row mb-3">
        <label for="username" class="col-2 col-sm-3 col-form-label text-end label-white">Username</label>
        <div class="col-8 d-10 col-sm-6 col-md-4">
          {{ form.username(class="form-control form-control-lg") }}
        </div>
      </div>

      <div class="row mb-3">
        <label for="password" class="col-2 col-sm-3 col-form-label text-end label-white">Password</label>
        <div class="col-8 d-10 col-sm-6 col-md-4">
          {{ form.password(class="form-control form-control-lg") }}
        </div>
      </div>

      <div class="row mb-3">
        <label for="email" class="col-2 col-sm-3 col-form-label text-sm-end label-white">Email</label>
        <div class="col-8 d-10 col-sm-6 col-md-4">
          {{ form.email(class="form-control form-control-lg") }}
        </div>
      </div>

      <div class="row mb-3">
        <label for="first_name" class="col-2 col-sm-3 col-form-label text-sm-end label-white">First Name</label>
        <div class="col-8 d-10 col-sm-6 col-md-4">
          {{ form.first_name(class="form-control form-control-lg") }}
        </div>
      </div>

      <div class="row mb-3">
        <label for="last_name" class="col-2 col-sm-3 col-form-label text-sm-end label-white">Last Name</label>
        <div class="col-8 d-10 col-sm-6 col-md-4">
          {{ form.last_name(class="form-control form-control-lg") }}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-9 offset-sm-3">
          <button class="btn btn-secondary">Sign up!</button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
