
{% extends 'base.html' %}
{% block title %}MENU{% endblock %}

{% block content %}


<div class="container text-center">
    <h1>Welcome to Space Content, your cosmic gateway to the universe!</h1>
    <hr>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <p class="label-white mt-3" style="text-align: justify;">Embark on an interstellar journey with our two stellar features:
                Astronomy Picture of the Day (APOD): Explore the wonders of the cosmos by delving into the Astronomy Picture of the Day, courtesy of NASA. Witness breathtaking celestial marvels and immerse yourself in the beauty of the universe. With options to filter by date range or count, discover the awe-inspiring snapshots captured across the vastness of space.</p>
                <p class="label-white mt-3" style="text-align: justify;">Mars Rover Photo Gallery: Step foot on the red planet through the lens of the Mars Rover! Dive into an archive of photos captured by the rover's cameras. Filter through historical moments on Mars by date and camera type, and behold the panoramic landscapes and enigmatic discoveries made on this neighboring world.
                Join us in uncovering the mysteries, beauty, and discoveries that await among the stars and on the enigmatic Martian surface!</p>
                <br>
                <p class="label-white mt-3" style="text-align: justify;"><b>HOW TO USE:</b>
                    Using APOD: Start Date and End Date fields should be used independently, not in conjunction with the Date or Count parameter. Similarly, using the Count and Date parameters should also be standalone.
                    <br>
                    Using Mars Rover: Select a date along with a specific camera type to obtain the expected results.
                    Keep in mind that there might be days without NASA records, which could result in unexpected outcomes</p>
        </div>
        <div class="col col-md-6 d-flex align-items-center justify-content-center">
            <div class="container d-flex flex-column align-items-center position-relative">
                
                    <a href="{{ url_for('result_for_apod', user_id=user.id) }}" class="btn btn-secondary my-4 d-block w-50">Astronomy Picture of the Day</a>
                    <a href="{{ url_for('mars_photos', user_id=user.id) }}" class="btn btn-secondary my-4 d-block w-50">Mars Rover Pictures</a>
                
            </div>
        </div>
        
        
</div>

<footer class="footer text-center py-2 fixed-bottom bg-dark text-white">
    <p class="m-0">Images provided by NASA's official API</p>
</footer>
{% endblock %}